/* Style Guide */

:root {
  /* colours */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-gray-magenta: hsl(303, 10%, 53%);
  --light-gray-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
  /* typography */
  --fm: "League Spartan", sans-serif;
  --fs-sm: 1.063rem; /* 17px */
  --fs-md: 1.188rem; /* 19px */
  --fs-lg: 2.5rem; /* 40px */
  --fs-xl: 3.5rem; /* 56px */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
}

/* Font */

@font-face {
  font-family: "League Spartan";
  src: url("./font/LeagueSpartan.woff2") format("woff2");
  font-weight: 100 900;
  font-display: swap;
}

/* Global Styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}
